<center>

# Name:  Huzaifa Dad
# Email: huzaifadad.abt@gmail.com
# Github: https://github.com/HuzaifaDad 
# Purpose of Document: Complete Pandas practice
</center>

# Importing Library

In [1]:
import pandas as pd

# Creating Variables

In [2]:
x=5 #int type
y="john" #string type
print(x)
print(y)

5
john

# Casting

In [3]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

# Get the Type

In [4]:
x=5 
y="john" 
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Case-Sensitive

In [5]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

# Multi Words Variable Names

# Camel Case

In [6]:
myVariableName = "john"
print(myVariableName)

john

# Pascal Case

In [7]:
MyVariableName = "john"
print(MyVariableName)

john

# Snake Case

In [8]:
my_variable_name = "john"
print(my_variable_name)

john

# Many Values to Multiple Variables

In [9]:
#Number of variables matches the number of values
x, y, z = "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection

In [11]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output

In [12]:
x = "Python "
y = "is "
z = "Awesome"
print(x+y+z)

Python is Awesome

In [13]:
x = 5
y = 10
print(x + y)

15

# Global Variables

In [14]:
x = "Awesome"

def myfunc():
    print("Python is "+x)

In [15]:
myfunc()

Python is Awesome

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# global Keyword

In [17]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Numbers

In [18]:
x = 1
y = 12E5
z = 3+5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Type Conversion

In [19]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Numbers

In [20]:
import random

In [21]:
print(random.randrange(3,20))

13

# Python casting

In [22]:
#convert to int
x = int(1)
y = int(2.8)
z = int("3")

print(x,y,z)

1 2 3

In [23]:
#convert to float
x = float(1)
y = float(2.8)
z = float("3")

print(x,y,z)

1.0 2.8 3.0

In [24]:
#convert to string
x = str("s1")
y = str(2.8)
z = str("3")

print(x,y,z)

s1 2.8 3

# Python Strings

In [25]:
a = "hello"
print(a)

hello

# Strings are Arrays

In [26]:
a = "Hello, World!"
print(a[1])

e

# Looping Through a String

In [27]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# String Length

In [28]:
a = "Hello, World!"
print(len(a))

13

# Check String

In [29]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [30]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

In [31]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [32]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Slicing

In [33]:
b = "Hello, World!"
print(b[2:5])

llo

# Slice from start

In [34]:
b = "Hello, World!"
print(b[:5])

Hello

# Slice from the end

In [35]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

In [36]:
b = "hello, World!"
print(b[-5:-2])

orl

# Python Modify Strings

# Upper case

In [37]:
a = "hello, world!"
print(a.upper())

HELLO, WORLD!

# Lower case

In [38]:
a = "HELLO, WORLD!"
print(a.lower())

hello, world!

# Remove Whitespaces

In [39]:
a = " Hello, World! "
print(a.strip())

Hello, World!

# Replace String

In [40]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

# Split String

In [41]:
a = "Hello, World!, Zaifi"
print(a.split(","))

['Hello', ' World!', ' Zaifi']

# String Concatenation

In [42]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

# Python - Format - Strings

# F-string

In [43]:
age = 36
txt = f"My name is Huzaifa, I am {age}"
print(txt)

My name is Huzaifa, I am 36

# Placeholders and Modifiers

In [44]:
price = 190
txt = f"The price is {price} dollars"
print(txt)

The price is 190 dollars

In [45]:
price = 190
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 190.00 dollars

In [46]:
txt = f"The price is {4*5} dollars"
print(txt)

The price is 20 dollars

# Python Booleans

In [47]:
a = 60
b = 93

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [48]:
#Evaluate values and variables
print(bool("Hello"))
print(bool(15))

True
True

In [49]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Operators

In [50]:
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

15
5
50
2.0
0
100000

# Precedence

In [51]:
print((6 + 3) - (6 + 3))

0

In [52]:
print(100 + 5 * 3)

115

In [53]:
print(5 + 4 - 7 + 3)

5

# Python Lists

In [54]:
my_list = ["Apple", "banana", "cherry"]
print(my_list)

['Apple', 'banana', 'cherry']

# List Length

In [55]:
my_list = ["apple", "banana", "cherry"]
print(len(my_list))

3

# List Items - Data Types

In [56]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 23, 71, 91, 13]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 23, 71, 91, 13]
[True, False, False]

In [57]:
my_list = ["Apple", "banana", "cherry"]
print(type(my_list))

<class 'list'>

In [58]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

# Access Items

In [59]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Ranges of Indexes

In [60]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

# Check If exists

In [61]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Change Item Value

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Insert Items

In [63]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Append Items

In [64]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Extend List

In [65]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Iterable

In [66]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item

In [67]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [68]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [69]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [70]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List

In [71]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [72]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [73]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Sort List

In [74]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [75]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [76]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Copy List

In [77]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [78]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Lists

In [79]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Tuple

In [80]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [81]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [82]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [83]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [84]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Update Tuple

In [85]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Tuple

In [86]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items

In [87]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# Unpacking

In [88]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [89]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# Loop Through a Tuple

In [90]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [91]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Tuple Join

In [92]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Python Sets

In [93]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

# Sets Length

In [94]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [95]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

# Add Items

In [96]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [97]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'apple', 'mango', 'banana', 'pineapple', 'cherry'}

# Remove Set Items

In [98]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# Loop Items

In [99]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

# Join Sets

In [100]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [101]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [102]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

# Intersection

In [103]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [104]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

# Difference

In [105]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}