In [1]:
import pandas as pd

In [2]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%pip install pypi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pypi in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import docx

In [7]:
%pip install python-docx

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-docx in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.1.2)
Requirement already satisfied: lxml>=3.1.0 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-docx) (5.3.0)
Requirement already satisfied: typing-extensions>=4.9.0 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-docx) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from docx import Document

In [9]:
document=Document("sample2.docx")

In [10]:
document.paragraphs[2].text

'Expressa vero in iis aetatibus, quae iam confirmatae sunt.'

In [11]:
import docx2txt

In [12]:
image=docx2txt.process('sample2.docx','./images')

In [13]:
%pip install docx2txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: docx2txt in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.8)
Note: you may need to restart the kernel to use updated packages.

In [14]:
image

'Quantum Aristoxeni ingenium consumptum videmus in musicis?\n\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Tum Torquatus: Prorsus, inquit, assentior; Duo Reges: constructio interrete. Iam in altera philosophiae parte. Sed haec omittamus; Haec para/doca illi, nos admirabilia dicamus. Nihil sane.\n\nExpressa vero in iis aetatibus, quae iam confirmatae sunt.\n\nSit sane ista voluptas. Non quam nostram quidem, inquit Pomponius iocans; An tu me de L. Sed haec omittamus; Cave putes quicquam esse verius.'

In [15]:
%pip install pypdf2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pypdf2 in c:\users\naeem\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from PyPDF2 import PdfReader

In [17]:
pdf_path='dummy.pdf'
reader=PdfReader(pdf_path)

In [18]:
for page in reader.pages:
    print(page.extract_text())

Dumm y PDF file

In [19]:
import json

In [20]:
file=open('sample4.json','r')

In [21]:
x=file.read()

In [22]:
txt=json.loads(x)

In [23]:
x

'{\n  "people" : [\n    {\n       "firstName": "Joe",\n       "lastName": "Jackson",\n       "gender": "male",\n       "age": 28,\n       "number": "7349282382"\n    },\n    {\n       "firstName": "James",\n       "lastName": "Smith",\n       "gender": "male",\n       "age": 32,\n       "number": "5678568567"\n    },\n    {\n       "firstName": "Emily",\n       "lastName": "Jones",\n       "gender": "female",\n       "age": 24,\n       "number": "456754675"\n    }\n  ]\n}'

In [24]:
dates = pd.date_range("20130101", periods=6)

In [25]:
import numpy as np

In [26]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [27]:
df

                   A         B         C         D
2013-01-01 -1.034885  0.148225  0.664458 -0.927278
2013-01-02 -0.189814 -1.826432  0.305787  0.743428
2013-01-03 -0.330156 -0.937047  0.100402  2.798706
2013-01-04 -0.872558  0.816152  0.280304 -0.569499
2013-01-05  1.226025 -0.773510 -0.564284  1.711871
2013-01-06 -1.963074  0.853701  0.786801 -0.741126

In [28]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.148225  0.664458       NaN
2013-01-02       NaN       NaN  0.305787  0.743428
2013-01-03       NaN       NaN  0.100402  2.798706
2013-01-04       NaN  0.816152  0.280304       NaN
2013-01-05  1.226025       NaN       NaN  1.711871
2013-01-06       NaN  0.853701  0.786801       NaN

In [29]:
df[df["A"] > 0]

                   A        B         C         D
2013-01-05  1.226025 -0.77351 -0.564284  1.711871

In [30]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -0.189814  0.305787
2013-01-03 -0.330156  0.100402
2013-01-05  1.226025 -0.564284

In [31]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.872558  0.816152
2013-01-05  1.226025 -0.773510

In [32]:
df["M"]=["grf","tre",'reter','hyuj','tgrt','gyjg']

In [33]:
df

                   A         B         C         D      M
2013-01-01 -1.034885  0.148225  0.664458 -0.927278    grf
2013-01-02 -0.189814 -1.826432  0.305787  0.743428    tre
2013-01-03 -0.330156 -0.937047  0.100402  2.798706  reter
2013-01-04 -0.872558  0.816152  0.280304 -0.569499   hyuj
2013-01-05  1.226025 -0.773510 -0.564284  1.711871   tgrt
2013-01-06 -1.963074  0.853701  0.786801 -0.741126   gyjg

In [34]:
df[df["M"].isin(["tre",'reter','re'])]

                   A         B         C         D      M
2013-01-02 -0.189814 -1.826432  0.305787  0.743428    tre
2013-01-03 -0.330156 -0.937047  0.100402  2.798706  reter

In [35]:
df.at[dates[0], "A"]=0

In [36]:
df.at[dates[0], "A"]

np.float64(0.0)

In [37]:
df

                   A         B         C         D      M
2013-01-01  0.000000  0.148225  0.664458 -0.927278    grf
2013-01-02 -0.189814 -1.826432  0.305787  0.743428    tre
2013-01-03 -0.330156 -0.937047  0.100402  2.798706  reter
2013-01-04 -0.872558  0.816152  0.280304 -0.569499   hyuj
2013-01-05  1.226025 -0.773510 -0.564284  1.711871   tgrt
2013-01-06 -1.963074  0.853701  0.786801 -0.741126   gyjg

In [38]:
df.iat[0,1] = 0

In [39]:
df

                   A         B         C         D      M
2013-01-01  0.000000  0.000000  0.664458 -0.927278    grf
2013-01-02 -0.189814 -1.826432  0.305787  0.743428    tre
2013-01-03 -0.330156 -0.937047  0.100402  2.798706  reter
2013-01-04 -0.872558  0.816152  0.280304 -0.569499   hyuj
2013-01-05  1.226025 -0.773510 -0.564284  1.711871   tgrt
2013-01-06 -1.963074  0.853701  0.786801 -0.741126   gyjg

In [40]:
len(df)

6

In [41]:
df2=df.copy(
)

In [54]:

df.sort_index(axis=1,ascending=False)

                M         D         C         B         A
2013-01-01    grf -0.927278  0.664458  0.000000  0.000000
2013-01-02    tre  0.743428  0.305787 -1.826432 -0.189814
2013-01-03  reter  2.798706  0.100402 -0.937047 -0.330156
2013-01-04   hyuj -0.569499  0.280304  0.816152 -0.872558
2013-01-05   tgrt  1.711871 -0.564284 -0.773510  1.226025
2013-01-06   gyjg -0.741126  0.786801  0.853701 -1.963074

In [56]:
df.loc[dates[0]]

A         0.0
B         0.0
C    0.664458
D   -0.927278
M         grf
Name: 2013-01-01 00:00:00, dtype: object

In [58]:
df["B"]>0

2013-01-01    False
2013-01-02    False
2013-01-03    False
2013-01-04     True
2013-01-05    False
2013-01-06     True
Freq: D, Name: B, dtype: bool

In [60]:
df2 = df.copy()

In [61]:
df2[df2>0]=-df2

TypeError: bad operand type for unary -: 'str'