<h2>Python<h2>

<h4>Introduction

In [13]:
print('Hello Wolrd')

Hello Wolrd

<h4>check python verson

In [14]:
import sys
print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

<h4>Python Indentation

In [15]:
if 5>2:
    print('5 is greater than 2')

5 is greater than 2

<h4>Syntax Error:

In [16]:
if 5>2:
print('5 is greater than 2')

IndentationError: expected an indented block after 'if' statement on line 1 (633305992.py, line 2)

<h4>The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [17]:
if 5>2:
    print('5 is greater than 2')
if 2<5:
            print('2 is less than 5')

5 is greater than 2
2 is less than 5

<h4>Syntax Error:

In [18]:
if 5>2:
    print('5 is greater than 2')
        print('5 is greater than 2')

IndentationError: unexpected indent (648957338.py, line 3)

<h4>Variables in Python:

In [19]:
a=1324
b='naeem ullah'

<h4>Comments in Python:

In [20]:
#this is a comment code
print('hello , world!')

hello , world!

In [21]:
print('hello , world!') #this is a comment code

hello , world!

<h4>Multiline Comment

In [22]:
#hello
#world
#print
print('hello world')

hello world

In [23]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

<h4>Variable Name

In [24]:
x=6
y='naeem'
print(x,y)

6 naeem

<h4>Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [25]:
x=6
x='joya'
print(x)

joya

<h4>Type Casting

In [26]:
x=int(3)
y=str(3)
z=float(3)
print(x,z,y)

3 3.0 3

In [27]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

<h4>Single or Double Quotes?

In [28]:
x = "naeem"
# is the same as
x = 'joya'

<h4>Case-Sensitive

In [29]:
a=1
A=1000
print(a)
print(A)

1
1000

<h4>Variable Names

In [30]:
var1='dsa'
_var1='jkl'
_var_1='dfss'
var_1='dsa'
VAR1='dsds'

<h4>Illegal variable names:

In [31]:
1var='fds'
var-1='dsa'
var 1='dsadc'

SyntaxError: invalid decimal literal (649778152.py, line 1)

<h4>Many Values to Multiple Variables

In [32]:
x,y,z='orange',100,6.3
print(x,y,z)

orange 100 6.3

<h4>One Value to Multiple Variables

In [33]:
x=y=z='ora'
print(x,y,z)

ora ora ora

<h4>Unpack a Collection</h4>

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [34]:
fruits=['orange',34434,43.54]
x,y,z=fruits
print(x,y,z)

orange 34434 43.54

<h4>Output Variables

In [35]:
x='this is variable'
print(x)

this is variable

In [36]:
x = "Python"
y = "is "
z = "awesome"
print(x+y+z)

Pythonis awesome

<h4>Globel Variable

In [37]:
x="naeem ullah"
def func():
    print(x)
func()

naeem ullah

In [38]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [39]:
def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [40]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

<h4>Setting the Data Type

In [41]:
a='Hello World'
b=1
c=2.3
d=1j
e=['apple','orange']
f=('blue','green')
g=range(4)
h={'name':'ali','age':24}
i={'dss',234}
j=frozenset({"apple", "banana", "cherry"})
k=b"Hello"

In [42]:
print(a,b,c,d,e,f,g,h,i,j,k)

Hello World 1 2.3 1j ['apple', 'orange'] ('blue', 'green') range(0, 4) {'name': 'ali', 'age': 24} {234, 'dss'} frozenset({'banana', 'cherry', 'apple'}) b'Hello'

<h4> Python Numbers

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [44]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

<h4>Float variable

In [45]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [46]:
print(x,y)

35000.0 120000.0

<h4>Datatype Conversation

In [47]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

<h4>Random Number

In [48]:
import random
print(random.randrange(1,10))

8

<h4>Python Casting

In [49]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("37") # z will be 3

In [50]:
print(x,y,z)

1 2 37

<h4>Float

In [51]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [52]:
x=str('11')
y=str(7232)
z=str(4.333)
print(x,y,z)

11 7232 4.333

<h4>Strings

In [53]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

<h4>assign string value

In [54]:
a = "Hello"
print(a)

Hello

<h4>Multiline Strings

In [55]:
a='''my ,
name is 
naeem'''
print(a)

my ,
name is
naeem

<h4>Strings are Arrays

In [59]:
a='''my ,
name is 
naeem'''
print(a[0])

m

In [60]:
a = "Hello, World!"
print(a[1])

e

<h4>Looping Through a String

In [61]:
for x in "banana":
    print(x)

b
a
n
a
n
a

<h4>String Length

In [63]:
a = "Hello World"
print(len(a))

11

<h4>Check String

In [64]:
txt='my name is naeem joya'
print('joya' in txt)

True

<h4>Above with if statement</h4>

In [67]:
if "naeem" in txt:
    print("yes")

yes

<h4> Above not present

In [73]:
txt='my name is naeem joya'
print('joyia' not in txt)

True

In [75]:
if "naeeem" not in txt:
    print("no")

no

<h4>Slicing

In [76]:
b = "Hello, World!"
print(b[2:5])

llo

<h4>Slice From the Start

In [77]:
b = "Hello, World!"
print(b[:5])

Hello

<h4>Slice To the End

In [79]:
b = "Hello, World!"
print(b[1:])

ello, World!

<h4>Negative Indexing

In [92]:
b = "Hello, World!"
print(b[-5:-2])

orl

<h4>Modify Strings

In [81]:
print(b.upper())

HELLO, WORLD!

<h4>Lower Case

In [82]:
print(b.lower())

hello, world!

<h4>Remove Whitespace

In [85]:
a = " Hello, World! "
print(a)
print(a.strip())

 Hello, World!
Hello, World!

<h4>Replace String

In [87]:
print(b.replace('H','K'))

Kello, World!

In [94]:
#b="hello wprld how"
print(b.split(','))

['Hello', ' World!']

<H4>String Concatenation

In [95]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [96]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

<H4>String Format

In [98]:
age=43
txt='my age is :' + age
print(txt)

TypeError: can only concatenate str (not "int") to str

<h4>F String

In [100]:
age=43
txt=f'my age is : {age}' 
print(txt)

my age is : 43

In [104]:
price = 59
txt = f"The price is {price:.4f} dollars"
print(txt)

The price is 59.0000 dollars

In [105]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

<h4>Escape Character

In [108]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

<h4>Boolean

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [7]:
print(bool('hello'))
print(bool(5))

True
True

In [8]:
print(bool("abc"),
bool(123),
bool(["apple", "cherry", "banana"]))

True True True

In [10]:
print(bool(False),
bool(None),
bool(0),
bool(""),
bool(()),
bool([]),
bool({}))

False False False False False False False

In [19]:
class myclass():
  def __len__(self):
    return 1

myobj = myclass()
print(bool(myobj))

True

In [24]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

<h4>check in boolean

In [27]:
x=90.0
print(isinstance(x,float))

True

<h4>Operators

In [28]:
print(10 + 5)

15

In [49]:
x=5

In [50]:
x = x / 3

In [51]:
print(x)

1.6666666666666667

In [57]:
x = 5

x =x& 3

print(x)

1

In [58]:
x=5
x = x | 3
print(x)

7

In [62]:
x=5
x=x^3
print(x)

6

In [66]:
x=5
x = x >> 3
print(x)

0

In [68]:
x=5
x = x >> 3
print(x)

0

<h4>Lists

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [4]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [6]:
print(type(list1))

<class 'list'>

<h4>Access Items

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

<h4>Extend List

In [20]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

<h4>Add Any Iterable

In [21]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

<h4>Remove Item From List

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

<h4>Delete List

In [27]:
thislist = ["apple", "banana", "cherry"]
del thislist

#print(thislist) Error : NameError: name 'thislist' is not defined

NameError: name 'thislist' is not defined

<h4>Clear List

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

<h4>Loop in List

In [31]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [34]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

<h4>Using a While Loop

In [35]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [38]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [43]:
for x in ["apple", "banana", "cherry"]:
    print(x)

apple
banana
cherry

In [46]:
[print(x) for x in ['apple', 'banana', 'cherry']]

apple
banana
cherry

[None, None, None]

<h4>List Comprehension

In [84]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [2]:
fruits = ["apple", "banana","apple", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x ]

print(newlist)

['apple', 'banana', 'apple', 'mango']

In [68]:
newlist = [x for x in fruits if x not in ['apple', 'banana']]

In [69]:
newlist

['cherry', 'kiwi', 'mango']

In [74]:
newlist = [x for x in fruits]

In [75]:
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [72]:
newlist = ['hello' for x in fruits]

In [85]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [86]:
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

<h4>Tuple

In [1]:
mytuple = ("apple", "banana", "cherry")

In [6]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [7]:
thistuple[0]

'apple'

In [8]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

<h4>Function

In [10]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", 'dsd')

Emil dsd

In [20]:
def my_function(*fname):
  print(fname )

my_function("Emil",5654)

('Emil', 5654)

In [15]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [21]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

<H4>If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [22]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [23]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [30]:
def my_function(x,/):
  print(x)

my_function(3)

3

In [31]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [34]:
def my_function(*,x):
  print(x)

my_function(x = 3)

3

In [38]:
def my_function(a, b,*, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [39]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

<h4>lamda

In [43]:
x = lambda a : a + 10
print(x(1))

11