<center><h1>Name: Muhammad Talha Nazeer</h1>
<h2>Email: talhanazeer2001@gmail.com</h2>
<h2>GitHub: <a href="https://github.com/talha-nazeer" target="_blank">https://github.com/talha-nazeer</a></h2>
<h2>Purpose: Python Practice</h2></center>

Printing in Python

In [1]:
print('Practicing Python')

Practicing Python

Variables in python

In [4]:
a = 5
A = 'Talha'
print(a)
print(A)

5
Talha

In [5]:
print(type(a))
print(type(A))

<class 'int'>
<class 'str'>

In [6]:

#Many Values to Multiple Variables
x,y,z= 5,10,15
print(x)
print(y)
print(z)

5
10
15

In [7]:
#One Value to Multiple Variables
x=y=z='apple'
print(x)
print(y)
print(z)

apple
apple
apple

In [8]:
#Unpack a List
fruits = ['apple','banana','cherry']
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
x='python is awesome'
print(x)

python is awesome

In [14]:
x='python'
y='is'
z='awesome'

print(x,y,z)

python is awesome

In [16]:
#Global Variables
x='orange'
def myfunc():
    print('I like '+x)
    

myfunc()

I like orange

In [17]:
x='orange'
def myfunc():
    x='apple'
    print('I like '+x)

myfunc()

print('i like '+x)

I like apple
i like orange

In [18]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [19]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Casting

In [21]:
#casting

x=int(1.5)
y=int(3.3)
z=int(5.7)

print(x)
print(y)
print(z)

1
3
5

In [22]:
x=float(1.5)
y=float(3.3)
z=float(5.7)

print(x)
print(y)
print(z)

1.5
3.3
5.7

Strings

In [23]:
a = str("Hello World")
b = str(5)
c = str('Mangoes')
d = 'fruits'
f = 'VEGETABLES'
print(a,b,c,d,f)

Hello World 5 Mangoes fruits VEGETABLES

Arrays with strings

In [25]:
a='Hello World'
print(a[0])

H

In [26]:
#loop in string

for x in 'banana':
    print(x)

b
a
n
a
n
a

In [27]:
a = "Hello, World!"
print(len(a))

13

In [31]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [32]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

slicing

In [34]:
x = 'bananas apples mangoes'

print(x[4:11])

nas app

In [35]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [36]:
#remove space from start and end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [37]:
a  = 'mafgoes'
print(a.replace('f', 'n'))

mangoes

Concatenation of strings

In [38]:
a= 'Fruits'
b= 'Vegetables'

print (a + ' ' + b)

Fruits Vegetables

F-Strings

In [39]:
age = 18
txt =f'age is {age}'
print(txt)

age is 18

Boolean

In [40]:
a= 300
b= 139
if (a>b):
    print('a is greater than b')
else: 
    print ('b is greater than a')

a is greater than b

In [41]:
print(bool('Fruits'))

True

List

In [42]:
list = ['apple', 'mangoes', 'oranges']

print(list)

['apple', 'mangoes', 'oranges']

In [45]:
#access list
list = ['apple', 'mangoes', 'oranges']
print(list[1])

mangoes

In [46]:
#change list item
list = ['apple', 'mangoes', 'oranges']
list[1]= 'banana'
print(list)

['apple', 'banana', 'oranges']

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [49]:
#add list item
list = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
list.append('grapes')
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'grapes']

In [53]:
#insert list item
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [55]:
#remove list item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [59]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [60]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple[1])

banana

In [61]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

SETS

In [65]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Loops

In [71]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [72]:
i= 1
while i < 6:
    print(i)
    if i ==3:
        break
    i+=1

1
2
3

In [74]:
i = 0
while i<6:
    i+=1
    
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [75]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [76]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [82]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [83]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [84]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [85]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [86]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [87]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [88]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [89]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Lambda

In [90]:
x = lambda a : a + 10
print(x(5))

15

In [91]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [92]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [94]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)

print(doubler(11))

22

In [95]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)
tripler = myfunc(3)

print(doubler(11))
print(tripler(11))

22
33