<center><h2>Name: Rizwan Gulzar </h2>
Python Task</center>

In [1]:
print('Rizwan')

Rizwan

In [2]:
#how to execute python systax

Variables in python

In [4]:
R= 5
r= 'Rizwan gulzar '
print(r)
print(R)

Rizwan gulzar
5

In [6]:

#Many Values to Multiple Variables
x,y,z= 66,16,15
print(x)
print(y)
print(z)

66
16
15

In [7]:
#One Value to Multiple Variables
x=y=z='apple'
print(x)
print(y)
print(z)

apple
apple
apple

In [65]:
#Unpack a List
F = ['orange','apple','carrrot']
a,b,c = F
print(a)
print(b)
print(c)

orange
apple
carrrot

In [121]:
x=' I love python '
print(x)

 I love python

In [176]:
x='I '
y='Love'
z='python'

print(x,y,z)

I  Love python

In [184]:
#Global Variables
x='orange'
def myfunc():
    print('I like '+x)
    

myfunc()

I like orange

In [124]:
x='Pakistan '
def myfunc():
    x='Islambad'
    print('I Love '+x)

myfunc()

print('i like '+x)

I Love Islambad
i like Pakistan

In [185]:
def myfunc():
  global x
  x = "pakistan"

myfunc()

print("i love " + x)

i love pakistan

In [186]:
x = "pakistan"

def myfunc():
  global x
  x = "pakistan"

myfunc()

print("i love" + x)

i lovepakistan

Casting

In [127]:
#casting

x=int(9)
y=int(98)
z=int(87)

print(x)
print(y)
print(z)

9
98
87

In [128]:
x=float(1.65)
y=float(9.09)
z=float(9.098)

print(x)
print(y)
print(z)

1.65
9.09
9.098

Strings

In [129]:
a = str("Hello World")
b = str(5)
c = str('Mangoes')
d = 'fruits'
f = 'VEGETABLES'
print(a,b,c,d,f)

Hello World 5 Mangoes fruits VEGETABLES

Arrays with strings

In [130]:
a='I love PAkistan'
print(a[5])

e

In [199]:
#loop in string

for x in 'pakistan':
    print (x)

p
a
k
i
s
t
a
n

In [200]:
a = "Pakistan"
print(len(a))

8

In [133]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [134]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

slicing

In [135]:
x = 'bananas apples mangoes'

print(x[4:11])

nas app

In [136]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [137]:
#remove space from start and end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [138]:
a  = 'mafgoes'
print(a.replace('f', 'n'))

mangoes

Concatenation of strings

In [139]:
a= 'Fruits'
b= 'Vegetables'

print (a + ' ' + b)

Fruits Vegetables

F-Strings

In [140]:
age = 18
txt =f'age is {age}'
print(txt)

age is 18

Boolean

In [141]:
a= 300
b= 139
if (a>b):
    print('a is greater than b')
else: 
    print ('b is greater than a')

a is greater than b

In [142]:
print(bool('Fruits'))

True

List

In [143]:
list = ['apple', 'mangoes', 'oranges']

print(list)

['apple', 'mangoes', 'oranges']

In [144]:
#access list
list = ['apple', 'mangoes', 'oranges']
print(list[1])

mangoes

In [145]:
#change list item
list = ['apple', 'mangoes', 'oranges']
list[1]= 'banana'
print(list)

['apple', 'banana', 'oranges']

In [146]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [2]:
#add list item
list = ['a', 'b', 'c']
list.append('c')
print(list)

['a', 'b', 'c', 'c']

In [148]:
#insert list item
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [149]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [150]:
#remove list item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [151]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [152]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [153]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple[1])

banana

In [154]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

SETS

In [155]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(a)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Loops

In [157]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [158]:
i= 1
while i < 6:
    print(i)
    if i ==3:
        break
    i+=1

1
2
3

In [159]:
i = 0
while i<6:
    i+=1
    
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [160]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [161]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [162]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [163]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [164]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [165]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [166]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [167]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [168]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [169]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [170]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Lambda

In [171]:
x = lambda a : a + 10
print(x(5))

15

In [172]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [173]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [174]:
def myfunc(n):
  return lambda a : a * n

doubler = myfunc(2)

print(doubler(11))

22

In [4]:
def myfunc(n):
  return lambda a : a * n

a = myfunc(2)
v= myfunc(3)

print(a(11))
print(v(11))

22
33