<center><h2>Name: Muhammad Tayyab Altaf</h2>
<h3>Python Task</h3></center>

How to print in python

In [1]:
print('Tayyab Satti')
print('Ali')
print('Mushtaq')

Tayyab Satti
Ali
Mushtaq

In [2]:
#how to execute python systax

In [3]:
print("Hello, World!")

Hello, World!

#Python Indentation

In [4]:
#Python Indentation refers to the spaces at the beginning of a code line

In [5]:
if 2 > 1:
  print('Two is greater then one!')

Two is greater then one!

Use of Variables in python

In [6]:
a = 3
print(a)

3

In [7]:
A = 'Tayyab'
print(A)

Tayyab

In [5]:
print(type(a))
print(type(A))

<class 'int'>
<class 'str'>

In [8]:

#When assign Many type of  Values to Multiple Variables
x,y,z,g,d,f= 10,20,30,40,50,60
print(x)
print(y)
print(z)
print(g)
print(d)
print(f)

10
20
30
40
50
60

In [9]:
#One Value to Multiple Variables
x=y=z=g=d=f='Milkyway'
print(x)
print(y)
print(z)
print(g)
print(d)
print(f)

Milkyway
Milkyway
Milkyway
Milkyway
Milkyway
Milkyway

In [10]:
#python Data Type

In [14]:
#Print the data type of the variable a:
#Assign value to variable a
a = 9
print(type(a))

<class 'int'>

#python Operators

In [15]:
# while doing addition and substruction

print(5 + 4 - 7 + 3)

5

In [16]:
#While doing addition and substruction with parathenses

print((6 + 3) - (6 + 3))

0

#make list in python

In [17]:
classes = ['Ali','Ahmed','Hassan']
a,b,c = classes
print(a)
print(b)
print(c)

Ali
Ahmed
Hassan

In [18]:
x='Rawalpindi city is  very awesome'
print(x)

Rawalpindi city is  very awesome

In [19]:
x='Rawalpindi'
y='is'
z='awesome'

print(x,y,z)

Rawalpindi is awesome

#Global variable

In [20]:
x='Mango'
def myfunc():
    print('I like '+x)
    

myfunc()

I like Mango

In [21]:
x='Mango'
def myfunc():
    x='Banana'
    print('I like '+x)

myfunc()

print('i like '+x)

I like Banana
i like Mango

In [28]:
def myfunc():
  global x
  x = "City"

myfunc()

print("Multan is " + x)

Multan is City

In [29]:
def myfunc():
  global x
  x = "City"

myfunc()

print("Rawalpindi is " + x)

Rawalpindi is City

#Python Tuple

In [30]:
#Create a Tuple:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [31]:
#Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#Casting in python

In [32]:
x=int(2.5)
y=int(3.3)
z=int(6.2)

print(x)
print(y)
print(z)

2
3
6

In [22]:
x=float(1.5)
y=float(3.3)
z=float(5.7)

print(x)
print(y)
print(z)

1.5
3.3
5.7

## Create Strings in Python

In [33]:
a = str("Tayyab Altaf")
b = str(6) #print six as string
c = str('Mangoes')
d = 'fruits'
f = 'VEGETABLES'
print(a,b,c,d,f)

Tayyab Altaf 6 Mangoes fruits VEGETABLES

Arrays with strings

In [25]:
a='Hello World'
print(a[0])

H

In [26]:
#loop in string

for x in 'banana':
    print(x)

b
a
n
a
n
a

In [27]:
a = "Hello, World!"
print(len(a))

13

In [31]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [32]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

slicing

In [34]:
x = 'bananas apples mangoes'

print(x[4:11])

nas app

In [35]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [36]:
#remove space from start and end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [37]:
a  = 'mafgoes'
print(a.replace('f', 'n'))

mangoes

Concatenation of strings

In [38]:
a= 'Fruits'
b= 'Vegetables'

print (a + ' ' + b)

Fruits Vegetables

F-Strings

In [39]:
age = 18
txt =f'age is {age}'
print(txt)

age is 18

Boolean

In [40]:
a= 300
b= 139
if (a>b):
    print('a is greater than b')
else: 
    print ('b is greater than a')

a is greater than b

In [41]:
print(bool('Fruits'))

True

List

In [42]:
list = ['apple', 'mangoes', 'oranges']

print(list)

['apple', 'mangoes', 'oranges']

In [45]:
#access list
list = ['apple', 'mangoes', 'oranges']
print(list[1])

mangoes

In [46]:
#change list item
list = ['apple', 'mangoes', 'oranges']
list[1]= 'banana'
print(list)

['apple', 'banana', 'oranges']

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [49]:
#add list item
list = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
list.append('grapes')
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'grapes']

In [53]:
#insert list item
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

### remove list item

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [59]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [60]:
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple[1])

banana

In [61]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### SETS in python

In [41]:
thisset = {"apple", "banana", "cherry","cherry","banana", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Loops

In [71]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [72]:
i= 1
while i < 6:
    print(i)
    if i ==3:
        break
    i+=1

1
2
3

In [74]:
i = 0
while i<6:
    i+=1
    
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [75]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [76]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [82]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [83]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [40]:
for x in range(2, 20, 3):
  print(x)

2
5
8
11
14
17

In [39]:
for x in range(4):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
Finally finished!

In [86]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [38]:
def my_function(fname):
  print(fname + " Tayyab")

my_function("Ali")
my_function("Tabish")
my_function("Chaman")

Ali Tayyab
Tabish Tayyab
Chaman Tayyab

In [36]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Ali", "Danial")

Ali Danial

In [35]:
def my_function(*kids):
  print("The Oldest child is " + kids[2])

my_function("Ali", "Danial", "Sadam")

The Oldest child is Sadam