<center>

# Name:  Usman Khalid
# Email: usmankhalidML@outlook.com
# Github: https://github.com/UsmanKhalidAI 
# Purpose of Document: Complete Pandas practice
</center>

# Downloading and Importing Library

In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\usman khalid aiandml\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\usman khalid aiandml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usman khalid aiandml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usman khalid aiandml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usman khalid aiandml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\usman khalid aiandml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Creating Variables

In [2]:
x=10 #int type
y="usman" #string type
print(x)
print(y)

5
usman

# Comments

In [7]:
# Comments starts with a #, and Python will ignore them:
# This is a comment
# This is another comment
# This is a third comment
"""
This is a comment
written in
more than just one line
"""
"""fhuheieihi"""
print("Hello World")

Hello World

# Casting

In [9]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

print('Type of x is',type(x))

3
3
3.0
Type of x is <class 'str'>

# Get the Type

In [4]:
x = 10      #int type
y = "usman" #string type
z = 4.4     #float type
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

# Variables are Case-Sensitive

In [6]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

# Multi Words Variable Names

# Camel Case

In [6]:
myVariableName = "john"
print(myVariableName)

john

# Pascal Case

In [7]:
MyVariableName = "john"
print(MyVariableName)

john

# Snake Case

In [8]:
my_variable_name = "john"
print(my_variable_name)

john

# Many Values to Multiple Variables

In [9]:
#Number of variables matches the number of values
x, y, z = "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection

In [108]:
fruits = ["apple", "banana", "cherry"] # list
mytuple = ("apple", "banana", "cherry") # tuple for immutable(cannot be deleted or changed) data : A tuple is a collection which is ordered and unchangeable.
x, y, z = fruits
print(x)
print(y)
print(z)

x1, y1, z1 = mytuple
print(x1)
print(y1)
print(z1)

apple
banana
cherry
apple
banana
cherry

# Output Variables

In [110]:
# Output Mutliple Variables in print using comma. Also supports multiple datatypes
print("Hello", "World", 123, 456.789, True, None)
x = "Python "
y = "is "
z = "Awesome"
print(x, y, z)

Hello World 123 456.789 True None
Python  is  Awesome

# String Concatenation using + operator

In [13]:
x = "Python "
y = "is "
z = "Awesome"
print(x+y+z)

Python is Awesome

# If datatype of variables is int then sum is performed by + operator

In [14]:
x = 5
y = 10
print(x + y)

15

# Global Variables

In [293]:
# Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.
# Create a variable outside of a function, and use it inside the function
x = "Awesome"

def myfunc():
    print("Python is " + x)
    
myfunc()

Python is Awesome

In [387]:
# If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. 
# The global variable with the same name will remain as it was, global and with the original value.

x = "awesome"

def myfunc():
  # print("Python is " + x) # This will print: error as x is now defined as a local variable for this function and has lost global context
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# global Keyword

In [295]:
# If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [388]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Numbers

In [296]:
x = 1
y = 12E5
z = 3+5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Type Conversion

In [297]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Numbers

In [298]:
import random

In [299]:
print(random.randrange(3,20))

8

# Python casting

In [300]:
#convert to int
x = int(1)
y = int(2.8)
z = int("3")

print(x,y,z)

1 2 3

In [301]:
#convert to float
x = float(1)
y = float(2.8)
z = float("3")

print(x,y,z)

1.0 2.8 3.0

In [302]:
#convert to string
x = str("s1")
y = str(2.8)
z = str("3")

print(x,y,z)

s1 2.8 3

# Python Strings

In [303]:
a = "hello"
print(a)

hello

# Strings are Arrays

In [304]:
a = "Hello, World!"
print(a[1])

e

# Looping Through a String

In [305]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# String Length

In [306]:
a = "Hello, World!"
print(len(a))

13

# Check String

In [307]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [308]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

In [309]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [310]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Slicing

In [311]:
b = "Hello, World!"
print(b[2:5])

llo

# Slice from start

In [312]:
b = "Hello, World!"
print(b[:5])

Hello

# Slice from the end

In [313]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

In [314]:
b = "hello, World!"
print(b[-5:-2])

orl

# Python Modify Strings

# Upper case

In [315]:
a = "hello, world!"
print(a.upper())

HELLO, WORLD!

# Lower case

In [316]:
a = "HELLO, WORLD!"
print(a.lower())

hello, world!

# Remove Whitespaces

In [317]:
a = " Hello, World! "
print(a.strip())

Hello, World!

# Replace String

In [318]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

# Split String

In [319]:
a = "Hello, World!, Zaifi"
print(a.split(","))

['Hello', ' World!', ' Zaifi']

# String Concatenation

In [320]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

# Python - Format - Strings

# F-string

In [321]:
age = 36
txt = f"My name is Huzaifa, I am {age}"
print(txt)

My name is Huzaifa, I am 36

# Placeholders and Modifiers

In [322]:
price = 190
txt = f"The price is {price} dollars"
print(txt)

The price is 190 dollars

In [323]:
price = 190
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 190.00 dollars

In [324]:
txt = f"The price is {4*5} dollars"
print(txt)

The price is 20 dollars

# Python Booleans

In [325]:
a = 60
b = 93

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [326]:
#Evaluate values and variables
print(bool("Hello"))
print(bool(15))

True
True

In [327]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Operators

In [328]:
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

15
5
50
2.0
0
100000

# Precedence

In [329]:
print((6 + 3) - (6 + 3))

0

In [330]:
print(100 + 5 * 3)

115

In [331]:
print(5 + 4 - 7 + 3)

5

# Python Lists

In [332]:
my_list = ["Apple", "banana", "cherry"]
print(my_list)

['Apple', 'banana', 'cherry']

# List Length

In [333]:
my_list = ["apple", "banana", "cherry"]
print(len(my_list))

3

# List Items - Data Types

In [334]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 23, 71, 91, 13]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 23, 71, 91, 13]
[True, False, False]

In [335]:
my_list = ["Apple", "banana", "cherry"]
print(type(my_list))

<class 'list'>

In [336]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

# Access Items

In [337]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Ranges of Indexes

In [338]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

# Check If exists

In [339]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Change Item Value

In [340]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Insert Items

In [341]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Append Items

In [342]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Extend List

In [343]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Iterable

In [344]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item

In [345]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [346]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [347]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [348]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List

In [349]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [350]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [351]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Sort List

In [352]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [353]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [354]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Copy List

In [355]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [356]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Lists

In [357]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Tuple

In [358]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [359]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [360]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [361]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [362]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Update Tuple

In [363]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Tuple

In [364]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items

In [365]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# Unpacking

In [366]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [367]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# Loop Through a Tuple

In [368]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [369]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Tuple Join

In [370]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Python Sets

In [371]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

# Sets Length

In [372]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [373]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

# Add Items

In [374]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [375]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'papaya', 'mango', 'pineapple', 'banana'}

# Remove Set Items

In [376]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# Loop Items

In [377]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

# Join Sets

In [378]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [379]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [380]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

# Intersection

In [381]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [382]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

# Difference

In [383]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}